<% if object && object.errors.any? %>
	<div class="error msg">
		<%= pluralize(object.errors.count, "error") %> prohibited this from being saved:
		<ul>
		<% object.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
	</div>	
<% end %>