<% if notice %>
<div class="information msg">
<%= notice %>
</div>
<div class="clear"></div>
<% end %>

<% if alert %>
<div class="error msg">
<%= alert %>
</div>
<div class="clear"></div>
<% end %>

<% if @error_m %>
<div class="error msg">
<%=raw @error_m %>
</div>
<div class="clear"></div>
<% end %>
