<article>
<h1>Part Numbers Missing Cost</h2>

<table class="gtable sortable">
	<thead>
		<tr>
			<th>Part Number</th>
			<th>Description</th>
			<th>Cost</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>110022.2</td>
			<td>sdfsdf dolor sit amet</td>
			<td>0</td>
			<td>
				<a href="#" title="Edit"><img src="/images/icons/edit.png" alt="Edit" /></a>
				<a href="#" title="Delete"><img src="/images/icons/cross.png" alt="Delete" /></a>
			</td>
		</tr>
		<tr>
			<td>110022.2</td>
			<td>sdfsdf dolor sit amet</td>
			<td>0</td>
			<td>
				<a href="#" title="Edit"><img src="/images/icons/edit.png" alt="Edit" /></a>
				<a href="#" title="Delete"><img src="/images/icons/cross.png" alt="Delete" /></a>
			</td>
		</tr>
		<tr>
			<td>110022.2</td>
			<td>sdfsdf dolor sit amet</td>
			<td>0</td>
			<td>
				<a href="#" title="Edit"><img src="/images/icons/edit.png" alt="Edit" /></a>
				<a href="#" title="Delete"><img src="/images/icons/cross.png" alt="Delete" /></a>
			</td>
		</tr>
		<tr>
			<td>110022.2</td>
			<td>sdfsdf dolor sit amet</td>
			<td>0</td>
			<td>
				<a href="#" title="Edit"><img src="/images/icons/edit.png" alt="Edit" /></a>
				<a href="#" title="Delete"><img src="/images/icons/cross.png" alt="Delete" /></a>
			</td>
		</tr>
		<tr>
			<td>110022.2</td>
			<td>sdfsdf dolor sit amet</td>
			<td>0</td>
			<td>
				<a href="#" title="Edit"><img src="/images/icons/edit.png" alt="Edit" /></a>
				<a href="#" title="Delete"><img src="/images/icons/cross.png" alt="Delete" /></a>
			</td>
		</tr>

	</tbody>
</table>

<div class="tablefooter clearfix">
	<div class="pagination">
		<!--<a href="#">Prev</a>-->
		<a href="#" class="current">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		...
		<a href="#">78</a>
		<a href="#">Next</a>
	</div>
</div>

</article>
