<article>
	<h1>Import from Quick Book</h1>
	<form id="myForm" class="uniform" method="post">
		<fieldset>
			<legend>Form</legend>
			<dl class="inline">
				<dt><label for="upload">Excel/CSV</label></dt>
				<dd><input type="file" id="upload" /></dd>
			</dl>
			<div class="buttons">
				<button type="submit" class="button">Import</button>
			</div>
		</fieldset>
	</form>
</article>