<article>
	<form id="myForm" class="uniform" method="post">
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><label>Filter by Location</label></dt>
				<dd>
					<select size="1" id="select1" class="medium required">
						<option value="option1">All Locations</option>
						<option value="option2">AAA-1</option>
						<option value="option3">BBB-2</option>
						<option value="option4">CCC-1</option>
					</select>
				</dd>
			</dl>
		</fieldset>
	</form>
</article>

<article>
	<h1>Missing Tags</h1>
		<table id="table1" class="gtable sortable">
			<thead>
				<tr>
					<th>Tag Number</th>
					<th>Part Number</th>
					<th>Location</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					
					<td>1</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>2</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>3</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>4</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>5</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>6</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>7</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>8</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>9</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
				<tr>
					
					<td>10</td>
					<td>1111.2</td>
					<td>AAA-BBBB</td>
					<td>
						
						<a href="#">Print</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="tablefooter clearfix">
			<div class="pagination">
				<!--<a href="#">Prev</a>-->
				<a href="#" class="current">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				...
				<a href="#">78</a>
				<a href="#">Next</a>
			</div>
		</div>
</article>