<% @sub_menu = :missing_cost %>
<article>
	<h1>Item</h1>
	
	<table class="infos">
		<tr>
			<th>Item Number</th>
			<td><%= @item.code %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= @item.description %></td>
		</tr>
		<tr>
			<th>Cost</th>
			<td><%= @item.cost %></td>
		</tr>
	</table>

	<div class="tablefooter clearfix">	
	<div class="actions">
		<%= link_to 'Change Cost', input_price_item_path(@item), :class => "button small" %>
		
	</div>
	</div>
</article>
