<% @sub_menu = :generate %>
<article>

	<h1>Generate initial Tickets</h1>

	<% unless curr_check.generated %>
	<div class="information msg">
	Create Tickets for Onsite warehouses. 
	<br />
	Please ensure that you have set up all Onsite warehouses.
	</div>
	<div class="clear"></div>
	<% end %>


	<div class="actions">
	<% unless curr_check.generated %>
	<%= loading_link 'Generate Tickets', generate_checks_path, :method => :put, :confirm => "Did you setup all remote warehouses with which tags will not be generated ?", :class => "button" %>
	<% else %>
	Initial tickets have been generated.
	<% end %>
	</div>

</article>