<article>
	<%= render :partial => "shared/flash" %>
	<h1>Remote warehouse input</h1>

	<%= form_for @inventory, :url => dataentry_inventory_path(@inventory) do |f| %>
	<fieldset>
		<dl class='inline'>
			<%= render :partial => "inventories/form", :locals => {:f => f} %>
		</dl>
	</fieldset>
	<% end %>
</article>