<% @nav = :count %>
<% content_for :stylesheets do %>
<% end %>

<% content_for :content do %>
<section id="main" class="grid_9 push_3">
	<%= yield %>
</section>

<aside id="sidebar" class="grid_3 pull_9">
	<div class="box menu">
		<h2>Count <%= @c_i %></h2>
		<section>
			<%= render :partial => 'shared/count_ul', :locals => {:count => @c_i} %>
		</section>
	</div>

</aside>

<% end %>

<%= render :file => 'layouts/application' %>